#helloId{
	position: absolute;
	text-align: center;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

body{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
}

h1{
	font-size: 100px;
	color : red;
}

h2{
	font-size: 75px;
	color:brown;
}

#CommentSection
{
	font-size: 80px;
	position: absolute;
	text-align: center;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#CommentSection a{
	color :blanchedalmond;
}

#CommentSection a:hover{
	color :red;
}

#CgiPHPbutton {
	position: absolute;
	text-align: center;
	font-size: 80px;
	left: 85%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#CgiPHPbutton a:hover{
	color :red;
}

#CgiPHPbutton a{
	color :blanchedalmond;
}


#DeletePage{
	position: absolute;
	text-align: center;
	font-size: 80px;
	left: 15%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#DeletePage a{
	color :blanchedalmond;
}

#DeletePage a:hover{
	color :red;
}

